html {
    height: 100%
}



.int_h1{
    color: red;
}

#usernum {
    background: #663399 url("static/images/3.jpg") 20px 14px no-repeat;
}

#userpassword {
    background: #663399 url("static/images/4.jpg") 23px 11px no-repeat;
}