html {
    height: 100%
}
body {
    background: url("../images/17.jpg") 50% 50% repeat;
    background-size: cover;
}
.logo1
{
    width: 150px;
    height: 38px;
    margin: 30px  100px 40px 350px ;

}
img
{
    width: 50px;
    height: 50px;
}
.logo {
    position: absolute;
    left: 35%;

    top: 50%;
    width: 860px;
    height: 1000px;
    margin: -300px 0 0 -215px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden
}
.logo2
{
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.logo2 table
{
    width: 800px;
    color: black;
    outline: none;

}
th
{

    font-size: 18px;
    text-align: center;
}
td
{
    text-align: center;
}
.logo3
{
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.logo3 input
{
    width: 360px;
    height: 48px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    outline: none;
}
.logo4 .t1
{
    float: left;
}
.logo4 .t2
{
    float: right;
}

.logo4
{
    width: 360px;
    margin: 20px auto 0;
    overflow: hidden;
}
.logo4 a
{
    font-size: 20px;
    color: black;
    text-decoration: none;

}
.logo4 a:hover
{

    text-decoration: underline;
}
