html {
    height: 100%
}
body {
    background: url("../images/17.jpg") 50% 50% repeat;
    background-size: cover;
}
.logo1
{
    width: 250px;
    height: 40px;
    margin: 40px  20px 20px 150px ;

}


.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    height: 850px;
    margin: -300px 0 0 -215px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    overflow: hidden
}
.logo2
{
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.logo2 button
{
    width: 360px;
    height: 48px;
    border: 1px solid;

    font-size: 18px;
    color: black;
    outline: none;

}
.logo3
{
    position: relative;
    width: 360px;
    margin: 0 auto;
    font-size:20px ;
    padding-bottom: 20px;
}
.logo3 button
{
    width: 360px;
    height: 28px;
    border: 1px solid;

    font-size: 18px;
    color: black;
    outline: none;

}
.logo5
{
    position: relative;
    width: 360px;
    margin: 0 auto;
    font-size:20px ;
    padding-bottom: 20px;
}
.logo5 button
{
    font-size: 20px;
}
.logo3 .zhuce
{
    float: left;
}
.logo3 .chongzhi
{
    float: right;
}
.logo4 a
{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-left: 50px;
}
.logo4 a:hover
{

    text-decoration: underline;
}
