html {
    height: 100%
}
body {
    background: url("../images/17.jpg") 50% 50% repeat;
    background-size: cover;
}
.logo1
{
    width: 150px;
    height: 104px;
    margin: 30px  100px 90px 150px ;

}


.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    height: 550px;
    margin: -300px 0 0 -215px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    overflow: hidden
}
.logo2
{
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.logo2 input
{
    width: 360px;
    height: 38px;
    border: 1px solid;

    font-size: 18px;
    color: black;
    outline: none;

}
.logo3
{
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.logo3 input
{
    width: 360px;
    height: 48px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    outline: none;
}

.logo4 a
{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-left: 50px;
}
.logo4 a:hover
{

    text-decoration: underline;
}
