<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加菜品</title>
</head>
<body>
<form action="add_Meat" method="post">
    菜组分类 <select name="Meatid">
    <option value="1">荤菜类</option>
    <option value="2">素菜类</option>
    <option value="3">凉菜类</option>
</select><br>
    菜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名<input type="text" name="Mname"/><br>
    口&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;味<input type="text" name="Mstyle"/><br>
    价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格<input type="text" name="Mprice"/><br>
    图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片<input type="text" name="Mpicture"/><br>
    <input type="submit" value="添加"/>
</form>
<br><a href="/get_Foods">返回上级页面</a>
</body>
</html>