<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜组总表</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>菜组</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody th:if="${#lists.size(allfoods) > 0}">
    <tr th:each="allfoods:${allfoods}">
        <td th:text="${allfoods.aname}"></td>
        <td>
            <a th:href="@{/af_delete/(apk=${allfoods.apk})}">删除</a>
        </td>
    </tr>

    </tbody>
</table>
<br><a href="/add_Foods">添加菜组</a>
<br><a href="/RstManager_main">返回上级</a>

</body>
</html>