<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜品信息</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/caizu.css}">
</head>
<body>
<div class="logo">

<div class="logo1">
    <h1>菜品信息</h1>
</div>
<table border="1">
    <thead>
    <tr>
        <th>菜品编号</th>
        <th>菜名</th>
        <th>口味</th>
        <th>价格</th>
        <th>评分</th>
        <th>图片</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody th:if="${#lists.size(meat) > 0}">
    <tr th:each="meat:${meat}">
        <td th:text="${meat.mid}"></td>
        <td th:text="${meat.mname}"></td>
        <td th:text="${meat.mstyle}"></td>
        <td th:text="${meat.mprice}"></td>
        <td th:text="${meat.mscore}"></td>
        <td><img  th:src="${meat.mpicture}"> </td>
        <td>
            <a th:href="@{/meat_update/(Mid=${meat.mid})}">修改</a>
            <a th:href="@{/meat_delete/(Mid=${meat.mid})}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
    <div class="logo4">
<br><a href="/add_Meat">添加菜品</a>
<br><a href="/get_Foods">返回上级页面</a>
    </div>
</div>
</body>
</html>