<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生功能页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/stu.css}">
</head>
<body>
<div class="logo">
    <div class="logo1">
        <h1>
            选择功能
        </h1>
        <img th:src="@{/images/19.gif}" width="130px" height="130px">
    </div>

    <div class="logo4">
        <a th:href="@{/student-buyfood}">开始订餐</a><br>
<a th:href="@{/student-orderlist}">订单记录</a><br>
<a th:href="@{/student-info}">管理账号</a>
    </div>
</div>
<a th:href="@{/outlogin}" th:text="退出登录"></a>
</body>
</html>