<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/mima.css}">
</head>
<body>
<div class="logo">
    <div class="logo1">
        <h1>修改密码</h1>
    </div>
<form action="/student-password-updateing" method="post">
    <div class="logo2">
    <span>旧密码：</span><input type="password" name="oldP">
    </div>
    <div class="logo2">
    <span>新密码：</span><input type="password" name="newPA">
    </div>
    <div class="logo2">
    <span>确认新密码：</span><input type="password" name="newPB">
    <input type="text" th:value="${sinfo.getSid()}" name="id" hidden="hidden">
    </div>
    <div class="logo3">
    <input type="submit" value="确定">
    </div>
</form>
</body>
</html>