<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<form action="/student-password-updateing" method="post">
    <span>旧密码：</span><input type="password" name="oldP">
    <span>新密码：</span><input type="password" name="newPA">
    <span>确认新密码：</span><input type="password" name="newPB">
    <input type="text" th:value="${sinfo.getSid()}" name="id" hidden="hidden">
    <input type="submit" value="确定">
</form>
</body>
</html>