<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生功能页面</title>
    <script>
        function jumpA() {
            window.location.href="/student-orderlist";
        }

        function jumpB() {
            window.location.href="/student-buyfood";
        }

        function jumpC() {
            window.location.href="/student-info";
        }
    </script>
</head>
<body>
<input type="button" value="订单记录" onclick="jumpA()">
<input type="button" value="开始订餐" onclick="jumpB()">
<input type="button" value="管理账号" onclick="jumpC()">
</body>
</html>