<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生注册</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/zhuce.css}">
    <script type="text/javascript">
        function ischina(str) {
            var reg = /^[\u4E00-\u9FA5]{2,4}$/;//规定姓名必须为2到4位汉字
            return reg.test(str);
        }

        function isStudentNo(str) {
            var reg = /^[0-9]{8}$/;//规定学号为8位数字
            return reg.test(str);
        }

        function isPassword(str) {
            var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;//规定密码为8到16位由数字和字母组成的字符串
            return reg.test(str);
        }

        function cheak() {
            var username = document.getElementById("sname").value;
            var number = document.getElementById("sno").value;
            var password = document.getElementById("spass").value;
            if (ischina(username)) {//连续调用上面的检查方法，不符合就提示相应信息
                if (isStudentNo(number))
                    if (isPassword(password))
                        return true;
                    else alert("密码为8到16位由数字和字母组成的字符串");
                else alert("学号为8位数字");
            } else alert("姓名必须为2到4位汉字");
            return false;
        }


        function change(str) {
            var s=document.getElementById("spass")
            var b=document.getElementById("bott")
            if (str == "显示密码") {
                s.setAttribute("type","text")
                b.setAttribute("value","隐藏密码")
            }
            if (str == "隐藏密码") {
                s.setAttribute("type","password")
                b.setAttribute("value","显示密码")
            }

        }
    </script>
</head>
<body>
<div class="logo">
    <div class="logo1">
        <h1>学生注册</h1>
    </div>
    <p th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>
    <form action="/student-registing" method="post" onsubmit="return cheak()">
        <div class="logo2">
            <span>姓名：</span><input type="text" name="name" id="sname">
        </div>
        <div class="logo2">
            <span>学号：</span><input type="text" name="number" id="sno">
        </div>
        <div class="logo2">
            <span>密码：</span><input type="password" name="password" id="spass">
        </div>
        <div class="logo3">
            <input class="zhuce" type="submit" value="注册">
            <input class="chongzhi" type="reset" value="重置"><br>
        </div>
    </form>
    <div class="logo3">
    <input type="button"  value="显示密码" id="bott" onclick="change(this.value)">
    </div>
    <div class="logo4">
        <a href="/student-login">已有账号？</a>
    </div>
</div>

</body>
</html>