<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单记录</title>

</head>
<body>
<div class="logo">
    <div class="logo1">
        <h1>订单记录</h1>
    </div>
<table>
    <tr>
        <td>订单号</td>
        <td>订单时间</td>
        <td>订单金额</td>
        <td>支付状态</td>
    </tr>
    <span th:each="order,orderStat:${orders}">

    <tr>
        <td th:text="${order.getOid()}"></td>
        <td th:text="${order.getOyear()}+'年'+${order.getOmonth()}+'月'+${order.getOday()}+'日'"></td>
        <td th:text="${order.getOmoney()}"></td>
        <td th:if="${order.getOpayed()}" th:text="已支付"></td>
        <td th:if="not ${order.getOpayed()}" th:text="未支付"></td>
    </tr>
        <tr>
            <td>订餐详情：</td>
        <span th:each="oinfon:${oinfo.get(orderStat.index)}">
            <span th:each="xx:${oinfon}">
                <td th:text="${oinfon.getKey()}+'('+${oinfon.getValue()}+'份)'"></td>
            </span>
        </span>
        </tr>
    </span>
</table>
<a th:href="@{/student-buycar}">购物车</a>
</div>
</body>
</html>