<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单记录</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/d3.css}">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        function pingf(oid) {
            var pfq = document.getElementById("pf")
            pfq.innerHTML = "";

            var _select = document.createElement("select");
            _select.setAttribute("id", "select");
            var firstOption = document.createElement("option");
            firstOption.value = "1";
            firstOption.text = "1";
            _select.appendChild(firstOption);
            for (i = 2; i <= 10; i++) {
                var _option = document.createElement("option");
                _option.value = i;
                _option.text = i;
                _select.appendChild(_option);
            }
            pfq.appendChild(_select)


            var b = document.createElement("button")
            b.setAttribute("id", oid)
            var node = document.createTextNode("提交");
            b.appendChild(node)
            pfq.appendChild(b)
            var _button = document.getElementById(oid)
            _button.onclick = function () {
                var myselect = document.getElementById("select")
                var idx = myselect.selectedIndex
                var score = myselect.options[idx].value
                var str = {"oid": oid, "score": score}
                $.ajax({
                    url: '/pingf',
                    type: 'post',
                    data: str,
                    success: function (res) {
                        alert(res)
                        location.reload();
                    }
                })
            }
        }
    </script>

</head>
<body>
<div class="logo">
    <div class="logo1">
        <h1>订单记录</h1>
        <img th:src="@{/images/60.jpg}" width="120px" height="120px">
    </div>
    <div class="logo2">
    <table>
        <tr>
            <td>订单号</td>
            <td>订单时间</td>
            <td>订单金额</td>
        </tr>
        <span th:each="order,orderStat:${orders}">

    <tr>
        <td th:text="${order.getOid()}"></td>
        <td th:text="${order.getOyear()}+'年'+${order.getOmonth()}+'月'+${order.getOday()}+'日'"></td>
        <td th:text="${order.getOmoney()}"></td>
    </tr>
        <tr>
            <td>订餐详情：</td>
        <span th:each="oinfon:${oinfo.get(orderStat.index)}">
            <td th:each="xx:${oinfon}">
                <button  th:text="${oinfon.getKey()}+'('+${oinfon.getValue()}+'份)'"
                        th:onclick="pingf([[${order.getOid()}]])"></button>
            </td>
        </span>
        </tr>
    </span>
    </table>
    <div id="pf">

    </div>
    </div>
    <div class="logo4">
    <a th:href="@{/student-buycar}">购物车</a>
    <a th:href="@{/gomain}" th:text="返回"></a>
    <a th:href="@{/outlogin}" th:text="退出登录"></a>
    </div>
</div>


</body>
</html>