<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/mima.css}">
    <script type="text/javascript">
        function isPassword(str) {
            var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/
            return reg.test(str);
        }

        function cheak() {
            var old = document.getElementById("old").value;
            var oldA = document.getElementById("oldA").value;
            var newA = document.getElementById("newA").value;
            var newB = document.getElementById("newB").value;
            var password = document.getElementById("newB").value;

            if (old != oldA) {
                alert("原密码错误");
                return false;
            }
            if (newA != newB) {
                alert("新密码不一致");
                return false;
            }

            if (isPassword(password))
                return true;
            else alert("密码为8到16位由数字和字母组成的字符串");

            return false;
        }
    </script>
</head>
<body>
<div class="logo">
    <div class="logo1">
        <h1>修改密码</h1>
    </div>
    <form action="/student-password-updateing" method="post" onsubmit="return cheak()">
        <input type="password" name="oldPA" id="oldA" hidden="hidden" th:value="${sinfo.getSpassword()}">
        <div class="logo2">
            <span>旧密码：</span><input type="password" name="oldP" id="old">
        </div>
        <div class="logo2">
            <span>新密码：</span><input type="password" name="newPA" id="newA">
        </div>
        <div class="logo2">
            <span>确认新密码：</span><input type="password" name="newPB" id="newB">
            <input type="text" th:value="${sinfo.getSid()}" name="id" hidden="hidden">
        </div>
        <div class="logo3">
            <input type="submit" value="确定">
        </div>
        <a th:href="@{/gomain}" th:text="返回"></a><a th:href="@{/outlogin}" th:text="退出登录"></a>
    </form>
</div>
</body>
</html>