<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单记录</title>

</head>
<body>
<table>
    <tr>
        <td>订单号</td><td>订单时间</td><td>订单金额</td><td>支付状态</td>
    </tr>
    <tr th:each="order:${orders}">
        <td th:text="${order.getOid()}"></td>
        <td th:text="${order.getOyear()}+'年'+${order.getOmonth()}+'月'+${order.getOday()}+'日'"></td>
        <td th:text="${order.getOmoney()}"></td>
        <td th:if="${order.getOpayed()}" th:text="已支付"></td>
        <td th:if="not ${order.getOpayed()}" th:text="未支付"></td>
    </tr>
</table>
<a th:href="@{/student-buycar}">购物车</a>
</body>
</html>